---
const topChannels = [
  {
    name: "T-Series",
    slug: "tseries-net-worth",
    image:
      "https://yt3.ggpht.com/VunTf0NzCeboiPjbesBdnQuxaF3Lja7UGRbBGQAWRJgMSTj9TTLO3pS1X9qPOJGCNnmPrXeY=s800-c-k-c0x00ffffff-no-rj",
  },
  {
    name: "MrBeast",
    slug: "mrbeast-net-worth",
    image:
      "https://yt3.ggpht.com/nxYrc_1_2f77DoBadyxMTmv7ZpRZapHR5jbuYe7PlPd5cIRJxtNNEYyOC0ZsxaDyJJzXrnJiuDE=s800-c-k-c0x00ffffff-no-rj",
  },
  {
    name: "Cocomelon",
    slug: "cocomelon-net-worth",
    image:
      "https://yt3.ggpht.com/ytc/AIdro_lPfVIUJedPeT8Sa0sR1OoH3ehJFJC16RcyvFgvduFPp_k=s800-c-k-c0x00ffffff-no-rj",
  },
  {
    name: "SET India",
    slug: "setindia-net-worth",
    image:
      "https://yt3.ggpht.com/vmmZsYmryt238vqck4KAYf69gOSu22ZfqVE3rwT1tYz4hr68xl7crIUK7kghQgR6RiB9IlQ5mQ=s800-c-k-c0x00ffffff-no-rj",
  },
  {
    name: "Kids Diana Show",
    slug: "kidsdianashow-net-worth",
    image:
      "https://yt3.ggpht.com/ytc/AIdro_nuak4aeQJInwMJxsb8MNlnuOKktlhlLQQl_7tnWoSF5no=s800-c-k-c0x00ffffff-no-rj",
  },
  {
    name: "Like Nastya",
    slug: "likenastyaofficial-net-worth",
    image:
      "https://yt3.ggpht.com/ytc/AIdro_mVv_9v6t_6ni8YIQZWxmabSsNCVTyGQ48CHQ8-2W-OQtM=s800-c-k-c0x00ffffff-no-rj",
  },
  {
    name: "PewDiePie",
    slug: "pewdiepie-net-worth",
    image:
      "https://yt3.ggpht.com/vik8mAiwHQbXiFyKfZ3__p55_VBdGvwxPpuPJBBwdbF0PjJxikXhrP-C3nLQAMAxGNd_-xQCIg=s800-c-k-c0x00ffffff-no-rj",
  },
  {
    name: "Vlad and Niki",
    slug: "vladandniki-net-worth",
    image:
      "https://yt3.ggpht.com/il7dQx5fz3qs2ykOvWQVhtjT-_grY_oPmXlah13q694r_5zUS_7M33pBuUC34Cq0VearBaT1NOE=s800-c-k-c0x00ffffff-no-rj",
  },
  {
    name: "Zee Music Company",
    slug: "zeemusiccompany-net-worth",
    image:
      "https://yt3.ggpht.com/zGnrFUqmF6Xp2tM8ecG9sVXyHjJUrqa7GnNV_kATAdAvSwfgIg7693GURHASA7C6OPK3YmGZ=s800-c-k-c0x00ffffff-no-rj",
  },
  {
    name: "BLACKPINK",
    slug: "blackpink-net-worth",
    image:
      "https://yt3.ggpht.com/U3VrCkKjzTpQ3VYv4SCPjNfDHeJV-swGNnhLYhr0nV4lZz_GVUNzK4EB-HFRfKv9S5VNh14uAg=s800-c-k-c0x00ffffff-no-rj",
  },
];
---

<div class="max-w-4xl mx-auto my-16 px-4" id="top-channels">
  <h2 class="text-xl font-bold mb-8 uppercase text-center">
    Top YouTube Channels
  </h2>
  <div class="grid grid-cols-2 sm:grid-cols-4 md:grid-cols-5 gap-6">
    {
      topChannels.map((channel, index) => (
        <a
          href={`/${channel.slug}`}
          class="flex flex-col items-center text-center hover:underline"
          key={channel.slug}
        >
          <img
            src={channel.image}
            alt={`${channel.name} Profile`}
            width={80}
            height={80}
            class="w-20 h-20 rounded-full object-cover shadow-md"
            loading={index < 5 ? "eager" : "lazy"}
          />
          <span class="mt-2 font-medium text-gray-800">{channel.name}</span>
        </a>
      ))
    }
  </div>
</div>
