---
import { fetchTopChannels } from "../data/topChannelsFetch";
const results = (await fetchTopChannels())
---

<div class="max-w-4xl mx-auto mt-16 px-4 border-b border-divider">
  <h2 class="text-2xl font-bold mb-2 uppercase text-center">
    Top YouTube Channels
  </h2>

  <!-- Description -->
  <p class="text-center text-gray-600 mb-12 text-base">
    Explore the most popular YouTube creators and see how much they might earn
    from ads.
  </p>

  <!-- Grid of Channels -->
  <div class="grid grid-cols-2 sm:grid-cols-4 md:grid-cols-5 gap-6">
    {
      results.map((channel, index) => (
        <a
          href={`/${channel.slug}`}
          class="flex flex-col items-center text-center hover:underline"
          key={channel.slug}
        >
          <img
            src={`/images/${channel.slug}.webp`}
            alt={`${channel.name} Profile`}
            width={80}
            height={80}
            class="w-20 h-20 rounded-full object-cover shadow-md"
            loading={index < 5 ? "eager" : "lazy"}
          />
          <span class="mt-2 font-medium text-gray-800">{channel.name}</span>
        </a>
      ))
    }
  </div>

  <!-- View More Button -->
  <div class="mt-8 text-center pb-16">
    <a
      href="/top-channels"
      class="inline-flex items-center gap-2 rounded-lg bg-tPrimary px-5 py-3 text-sm font-semibold text-white shadow-md transition hover:bg-red-700 focus:outline-none focus:ring-2 focus:ring-red-400 focus:ring-offset-2"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="h-5 w-5"
        fill="none"
        viewBox="0 0 24 24"
        stroke="currentColor"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M9 5l7 7-7 7"></path>
      </svg>
      View More Channels
    </a>
  </div>
</div>
